{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>{% trans "Change Password" %}</h1>
                            <p>{% trans 'Your password is now changed.' %}</p>
                            <a href="/" class="btn btn-info" type="button">Inicio</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
