{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top" >
                          <a href="/" class="close" >×</a>
                            <div class="form-top-left">
                              <h3></h3>
                            </div>
                            <div class="form-top-right">
                              <i class="fa fa-unlock-alt"></i>
                            </div>
                            </div>
                        <div class="form-bottom">
                            {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action=".">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="action" value="{% trans 'Change password' %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                        </div>
                    </div>
                </div>

                    {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
