{% extends 'academica/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <!-- Main content -->
    <div class="row">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listado de Municipios</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                            <th>Nombre</th>
                            <th>Estado</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for mun in object_list %}
                        <tr>
                            <td>{{ mun.nom_municipio}}</td>
                            <td>{{ mun.estado.nom_estado }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <a class="btn btn-success" data-toggle="modal"
                       data-target="#modalMunicipio"
                       id="modal-button"><i class="fa fa-flag"></i>&nbsp;Crear Municipio</a>
{# <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"#}
{#                        data-target="#myModal"#}
{#                        id="modal-button">#}
{#                    Nuevo#}
{#                </button>#}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    {% include 'academica/localidad/municipio_form.html' %}

{% endblock %}






