{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="modalPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Plan de Estudio</h4>
            </div>
            <form id="myForm" method="post" action="/academica/planEstudio/add/">

                <div class="modal-body">
                    {% crispy form_plan %}

                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>