{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="modalEscuela" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                         </div>
            <form id="myForm" method="post" action="{% url 'escuela-add' %}">

                <div class="modal-body">
                    {% crispy form_escuela %}
                    <input type="submit" class="btn btn-primary col-md-offset-2" value="Adicionar">

                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

